extends header
block content
    div(class="list-group")
        each hit, index in data.hits
            div(class="row")
                a(class="list-group-item clearfix" href="/music/filter?artist=#{hit._id}")
                    div(class="col-xs-11")
                        h4(class="title") #{hit.artist}
                    div(class="col-xs-1")
                        span(class="badge") #{hit.music}
            