extends layout
//
   Created by maq on 04/07/2015.
block header
    nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="container")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                    span(class="sr-only")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="/music")
                    span(class="glyphicon glyphicon-cd")
                    span &nbsp;Jukebox
            div(id="navbar" class="collapse navbar-collapse")
                if(path != null)
                    form(class="navbar-form navbar-right" role="search")
                        div(class="input-group")
                            span(class="input-group-btn")
                                button(class="btn btn-default" type="button" onclick="Jukebox.search('#{path}')")
                                    span(class="glyphicon glyphicon glyphicon-search" aria-hidden="true")
                            input(id="search" onkeydown="Jukebox.searchFieldOnKeyDown('#{path}')" type="text" class="form-control" placeholder="filter items...")

                ul(class="nav navbar-nav")
                    li()
                        a(href="/queue") Up next
                    li()
                        a(href="/music") Music
                    li()
                        a(href="/music/artist") Artists
                    li()
                        a(href="/music/album") Albums
                    li()
                        a(href="/music/playlists") Playlists

        div(class="container")

block alert
    div(class="alert alert-success collapse" role="alert" id="alertBox" onclick="Jukebox.hideAlertBox()")

