doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/javascripts/jquery-2.1.4.js")
    script(src="/javascripts/bootstrap.js")
    body
        block header
        block pageControls
        block content
        block footer
