//
   Created by maq on 11/07/2015.

extends header

block content
    div(class="btn-group btn-group-lg btn-group-justified" aria-label="player controls")
        div(class="btn-group" role="group")
            button(type="button" class="btn btn-default" aria-label="play")
                span(class="glyphicon glyphicon-play")
        div(class="btn-group" role="group")
            button(type="button" class="btn btn-default" aria-label="pause")
                span(class="glyphicon glyphicon-pause")
        div(class="btn-group" role="group")
            button(type="button" class="btn btn-default" aria-label="stop")
                span(class="glyphicon glyphicon-stop")
