extends header
block footer
    include footer

block content
    div(class="list-group")
        each hit, index in data.hits
            div(class="row")
                a(class="list-group-item clearfix" href="/playlists?playlist=#{hit.url_playlist}")
                    div(class="col-xs-11")
                        h4(class="title") #{hit.playlist}
                    div(class="col-xs-1")
                        span(class="badge") #{hit.music}
            